body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  width:100%;
  height:972px;
}
.left {
  height: 100%;
  width: 33.33%;
  background-color: #2f97ff;
  float:left;
}

.middle {
  height: 100%;
  width: 33.33%;
  background-color: #00ffcc;
  float:left;
}

.right {
  height: 100%;
  width: 33.33%;
  float:left;
}

.rightOne {
  height: 729px;
  width: 100%;
  background-color: #65e78c;
}

.rightTwo {
  height: 243px;
  width: 100%;
  background-color: #cc0000;
  text-align: center;
  font-size: 40px;
  font-family: calibri;

  }
  .placeholder {
    color: white;
    padding-top: 20%;
  }
